
<header  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">Bookly</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/tenants">Tenants</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/products">Products</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home/contact">Contact</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home/aboutus">About us</a>
                    </li>





                </ul>

                <ul style="list-style: none" class="form-inline my-2 my-lg-0">
                    <li style="margin-right:10px;"><a sec:authorize="isAnonymous()" href="/login" class="btn btn-block btn-primary active" style="padding:5px 10px 5px 10px;"><span style="font-size: 13px;">Log In / Sign up</span></a></li>
                    <li ><a sec:authorize="isAuthenticated()" class="btn btn-block btn-outline-secondary btn-light" style="padding:5px 10px 5px 10px;" href="/logout">
                        <span style="font-size: 13px;">Logout</span>
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>